<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Perfiles</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="info()">
                <ion-icon color="dark" name="information-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="adminProfile()">
                <ion-icon color="primary" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar animated mode="ios" (keyup)="search(iS)" (ionClear)="cleanSearchbar()" #iS></ion-searchbar>
</ion-header>
<ion-content>
    <ion-list lines="none" *ngIf="!profiles||profiles.length>0">
        <ion-item *ngFor="let profile of profiles" (click)="adminProfile(profile)">
            <ion-label>{{profile.data}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!profiles||profiles.length==0">
        <ion-list-header>
            <ion-label>No se encontraron perfiles</ion-label>
        </ion-list-header>
    </ion-list>
</ion-content>